.todos-list {
  &__search {
    margin: 10px 0;
    margin-left: 5px;
    input {
      width: 200px;
      background: none;
      border: none;
      border-bottom: 1px solid #212529;
      color: #212529;

      font-size: 16px;
      font-weight: 400;
    }
  }
}
